@model VideoGames.ViewModels.GamesViewModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Game</h2>
@using(Html.BeginForm("Save", "Games"))
{

    @Html.HiddenFor(g => g.Game.GameId)

<div class="form-group">
    @Html.LabelFor(g => g.Game.Name)
    @Html.TextBoxFor(g => g.Game.Name, new { @class = "form-control"})
    @Html.ValidationMessageFor(g => g.Game.Name, "", new { @style="color:red"})
</div>

<div class="form-group">
    @Html.LabelFor(g => g.Game.Genre)
    @Html.TextBoxFor(g => g.Game.Genre, new { @class = "form-control" })
</div>

<div class="custom-checkbox">
    <label>
        @Html.CheckBoxFor(g => g.Game.Completed) Completed?
    </label>
</div>

@Html.AntiForgeryToken()

<button type="submit" class="btn btn-primary">
    Save Game
</button>   

}

